@import 'stylesheets/back4app.scss';

.b4a-source {
  background-color: #f9f9f9;
}

.loading {
  position: relative;
  min-height: $content-max-height;
}

.title {
  margin-bottom: 21px;

  div {
    float: left;
  }

  p {
    font-family: Noto Sans;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #224969;
    padding-left: 0px;
    padding-right: 20px;
  }

  small {
    font-family: Noto Sans;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #224969;
  }

  a {
    margin-top: 7px;
  }

  span {
    font-family: Raleway;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

.footer {
  // padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid lightgrey;

  .footerContainer {
    display: flex;
    padding: 5px;
  }

  .footerContainerLeft {
    width: 33%;
    border-right: 2px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .ccStatusIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Noto Sans;
    margin-left: 10px;
  }

  .deployedCircle {
    height: 10px;
    width: 10px;
    background-color: #208AEC;
    border-radius: 50%;
    margin: 0px 5px;
  }

  .undeployedCircle {
    height: 10px;
    width: 10px;
    background-color: #f2994a;
    border-radius: 50%;
    margin: 0px 5px;
  }

  .b4a-cc-deploy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    svg {
      margin-right: 7px;
    }
  }

  a {
    height: 40px;
    min-width: unset;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-right: 20px;
    }
  }
}
