@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';


.indexManager {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
    background-color: $dark-grey;

    .headerDescriptionContainer {
      display: flex;
      align-items: center;

      a {
        display: flex;
        margin-right: 10px;
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .subtitle {
          @include InterFont;
          font-size: 1rem;
          color: $light-grey;
        }

        .title {
          @include SoraFont;
          font-size: 18px;
          color: $white;
        }
      }
    }

    .toolbar {
      display: flex;
      align-items: center;

      a {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      svg {
        vertical-align: middle;
        fill: $white;
      }

      .addBtn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        gap: 5px;
        color: $white;
        background: $cta-green;
        border: 1px solid $cta-green;
        margin: 0 4px;
        transition: 0.5s;

        &:hover {
          filter: drop-shadow(1px 1px 10px #92E1B4);
          background-color: #13A39A!important;
        }

        svg {
          vertical-align: middle;
          fill: $white;
        }

        span {
          vertical-align: middle;
          height: 14px;
          line-height: 14px;
        }
      }

      .deleteBtn {
        cursor: auto;  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 30px;
        border-radius: 4px;
        border: 1px solid rgba(249,249,249,.06);
        font-size: 14px;
        padding: 2px;
        margin: 0 4px;

        svg {
          vertical-align: middle;
          fill: $error-red;
        }

        &.active {
          cursor: pointer;
          background: $old-blue;
          border: 1px solid $old-blue;
          svg {
            fill: $white;
          }
          &:hover {
            background: rgba($light-blue, 0.8);
          }
        }
        &:hover {
          background: rgba(232,93,62,.231372549);
          cursor: pointer;
        }
      }

      .toolbarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 28px;
        width: 30px;
        margin: 0 6px;
        padding: 4px;
        border-radius: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        svg {
          vertical-align: middle;
          fill: $white;
        }

        span {
          vertical-align: middle;
          height: 14px;
          line-height: 14px;
        }
      }
    }
  }

  .indexTableContainer {
    overflow: auto;

    .indexTable {
      width: 100%;
      table-layout: fixed;

      thead {
        font-size: 12px;
        color: $white;
        background-color: #1a283e;

        tr {
          height: 46px;
        }

        th {
          font-weight: 400;
          width: 70px;
          text-align: left;

          &:first-of-type {
            width: 50px;
            padding-left: 10px;

            &.readOnly {
              width: 70px;
            }
          }

          &:nth-child(2) {
            width: 200px;
          }

          &:nth-child(3), &:nth-child(4) {
            width: 100px;
          }

          &:nth-child(5) {
            width: 280px;
          }
        }
      }

      tbody {
        font-size: 14px;

        tr {
          height: 50px;
          box-shadow: 0px 1px 0px 0px #C1E2FF29;

          .selectedContainer {
            text-align: center;
          }

          .indexStatus-success {
            color: $cta-green;
          }

          .indexStatus-pending {
            color: $alert-yellow;
          }

          .indexStatus-error {
            color: $error-red;
          }

          .statusIcon {
            padding-right: 8px;
            font-size: 18px;
          }

          td {
            word-break: break-word;

            &.readOnly {
              padding-left: 10px;
            }

            &:first-of-type > input[type="checkbox"] {
              accent-color: $cta-green;
            }
          }
        }
      }
    }
  }
}

.sweetalertTitle {
  font-size: 1rem !important;
  margin-bottom: 0.5rem;
}

.sweetalertContainer {
  font-size: 14px !important;
  margin: 0 !important; 
  margin-bottom: 0 !important;
}

.sweetalertCloseBtn {
  width: 20px !important;
  height: 20px !important;
  font-size: 1.5rem;
  color: $dark !important;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 400;
}

.sweetalertInput {
  margin: 0;
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: $dark-grey;
  padding: 12px !important;
  border: 1px solid #ccc;
  outline: none;
  height: auto !important;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  &:hover, &:focus {
    border-color: #ccc;
    outline: none !important;
    box-shadow: none !important;
    opacity: 1;
  }
}

.sweetalertActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem !important;
}

.sweetalertLoader {
  margin: 0 1rem !important;
  width: 25px;
  height: 25px;
  border-color: $old-blue transparent $old-blue transparent;
  border-width: 0.125rem;
}

.emptyState {
  margin-top: 46px;
}