@import 'stylesheets/globals.scss';

.button {
  @include DosisFont;
  display: inline-flex;
  align-items: center;
  height: 25px;
  border: 1px solid;
  line-height: 20px;
  border-radius: 5px;
  min-width: 40px;
  padding: 0 16px;
  font-size: 12px;
  font-weight: bold;
  color: $white;
  background-color: #4caf50;
  border-color: #4caf50!important;
  padding: 0px 5px!important;

  .tutorialButtonIcon {
    height: 15px;
    width: 15px;
    color: white;
    margin-right: 2px;
  }

  &:hover, &:focus {
    color: $white;
    background-color: #81c784;
    text-decoration: none;
  }
}

.modal {
  @include modalAnimation();
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background: black;
}

@include modalKeyframes();
