@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';

$consoleHeight: 322px;

.playground-ctn {
  padding-top: $toolbar-height;
  height: calc(100vh - $toolbar-height);
  background: $dark;
  overflow: hidden;
}

.playgroundEditor {
  height: calc(100vh - $header-height - $toolbar-height - $consoleHeight);
}

.console {
  height: $consoleHeight;
  > div {
    @include InterFont;
    background: $dark-grey;
    line-height: 140%;
    padding: 0.625rem 1rem;
    height: 42px;
  }
  > section {
    padding: 0.625rem 1rem;
    height: calc(100% - 42px);
    overflow-y: auto;
    background: #0A0B0C;
    > span.null {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.console-ctn {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;

  & h3 {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  & > header {
    flex: 1;
    padding: 0 0 0 10px;
    background-color: #169cee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  & > section {
    width: 100%;
  }
}

.buttons-ctn {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;

  .runBtn {
    color: $white;
    .icon {
      margin-right: 4px;
    }
  }


  & > div {
    display: flex;
    justify-content: flex-end;
    width: 25%;
  }
}
