@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';

.row {
  display: block;
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e0e0e1;
}
.label {
  line-height: 16px;
}
.subtitle {
  @include InterFont;
  color: $dark-blue;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1rem;

  .hintText {
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }
}
.warning {
  margin: 1.5rem 0;
  @include InterFont;
  color: $dark-blue;
  font-size: 0.75rem;
  opacity: 0.7;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  & svg {
    flex-shrink: 0;
    fill: $light-grey;
  }
}