.hubConnections {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    background-color: #353445;

    .headerDescriptionContainer {
      display: flex;
      align-items: center;

      a {
        display: flex;
        margin-right: 10px;
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .subtitle {
          font-size: 10px;
          color: rgba(255, 255, 255, .5);
        }

        .title {
          font-size: 16px;
          color: #F4F5F7;
        }
      }
    }
  }

  .connectionsTableContainer {
    overflow: auto;

    .connectionsTable {
      width: 100%;
      table-layout: fixed;
      text-align: left;

      thead {
        font-size: 12px;
        color: white;
        background-color: #66637A;

        tr {
          height: 30px;
        }

        th {
          padding-left: 20px;
          font-weight: 400;
          width: 100px;
        }
      }

      tbody {
        font-size: 14px;

        tr {
          height: 50px;

          &:nth-child(even) {
            background-color: #F4F5F7;
            border-top: 1px solid #DFDFDF;
          }

          td {
            padding-left: 20px;
            word-break: break-word;
          }
        }
      }
    }
  }
}
