

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -3px;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 5px 35px;
  height: 90%;
  color: hsla(218, 54%, 13%, 0.5);
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  background: #33333308;
  color: #0F1C32;
}

.react-tabs__tab--disabled {
  cursor: default;
}

.react-tabs__tab:focus {
  /* box-shadow: 0 0 5px hsl(145.65deg 65.09% 41.57%);
  border-color: hsl(145.65deg 65.09% 41.57%);
  background: #27AE60; */
  /* color: #f9f9f9; */
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1px;
  background: #27AE60;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  padding-right: 20px;
}

.react-tabs {
  /* background: #33333308; */
}

