@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';

.fileSelector, .filePreview {
  width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 774px) {
  .fileSelector {
    flex: 0 0 29.33333%;
    width: 29%;
    max-height: 100%;
  }

  .filePreview {
    flex: 0 0 70.66667%;
    max-width: 70.66667%;
  }
}

@media only screen and (min-width: 1440px) {
  .fileSelector {
    max-width: 20rem;
    overflow: auto;
  }

  .filePreview {
    flex: auto;
    max-width: calc(100% - 20rem);
  }
}

.codeContainer {
  position: absolute;
  top: $toolbar-height; // toolbar height
  width: 100%;
  height: calc(100% - $toolbar-height); // toolbar height
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.files-box{
  background-color: $dark-blue;
  padding-top: 1.88rem;
  padding-bottom: 0;
  color: $white;
  // border: solid 1px rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow: hidden;

  .files-header {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(249, 249, 249, 0.06);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    & > div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }

    & button {
      font-weight: 700;
      font-size: 10px;
      line-height: 15px;
      height: 40px !important;
    }

    p {
      @include SoraFont;
      font-size: 1.125rem;
      line-height: 140%;
      padding: 0;
    }

    a {
      font-family: Raleway;
      font-size: 16px;
      padding: 0;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      float: right;
      margin-right: 10px;

      span {
        div {
          i {
            font-weight: bold
          }
        }
      }
    }
  }

  .files-tree {
    height: calc(100% - 57px - 16px)!important;
    overflow: overlay;
  }

  .files-text {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
    font-size: 14px;
    height: 100%;
    border-radius: 5px;
    background-color: #0c2337;
    border: none;

    img {
      height: 100%;
      width: 100%;
      background-color: #f9f9f9;
    }
  }
}

.filesPreviewWrapper {
  height: 100%;
  overflow: hidden;
  
  .filesPreviewHeader {
    @include InterFont;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      @include ellipsis();
      color: $white;
      padding: 0;
      max-width: 40%;
    }
    .deleteBtn {
      text-align: center;
      border: none;
      outline: none;
    }
  }
}

.folderInfoWrapper {
  margin: 54px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  img {
    width: 48px;
    height: 48px;
  }

  .description {
    max-width: 450px;
    text-align: center;
    color: $light-blue;
  }
}

.sweetalertTitle {
  font-size: 1rem !important;
  margin-bottom: 0.5rem;
}

.sweetalertContainer {
  font-size: 14px !important;
  margin: 0 !important; 
  margin-bottom: 0 !important;
}

.sweetalertCloseBtn {
  width: 20px !important;
  height: 20px !important;
  font-size: 1.5rem;
  color: $dark !important;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 400;
}

.sweetalertInput {
  margin: 0;
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: $dark-grey;
  padding: 12px !important;
  border: 1px solid #ccc;
  outline: none;
  height: auto !important;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  &:hover, &:focus {
    border-color: #ccc;
    outline: none !important;
    box-shadow: none !important;
    opacity: 1;
  }
}

.sweetalertActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem !important;
}