@import 'stylesheets/globals.scss';

.fileSelector, .filePreview {
  width: 100%;
  max-height: 100%;
}

@media (min-width: 774px) {
  .fileSelector {
    flex: 0 0 29.33333%;
    width: 29%;
    max-height: 100%;
  }

  .filePreview {
    flex: 0 0 70.66667%;
    max-width: 70.66667%;
  }
}

@media (min-width: 1440px) {
  .fileSelector {
    flex: 0 0 22.33333%;
    width: 22%;
  }

  .filePreview {
    flex: 0 0 77.66667%;
    max-width: 77.66667%;
  }
}

.codeContainer {
  position: absolute;
  top: 48px; // toolbar height
  width: 100%;
  height: calc(100% - 48px - 50px); // toolbar + footer height
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.files-box{
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow: scroll;

  .files-header {
    height: 55px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    padding: 10px 0 0 0;

    p {
      height: 22px;
      margin: 5px 0 0 0;
      text-align: left;
      padding: 0 20px;
      font-family: Noto Sans;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #224969;
      float:left;
      width: 30%;
      overflow: hidden;
    }

    a {
      font-family: Raleway;
      font-size: 16px;
      padding: 0;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      float: right;
      margin-right: 10px;

      span {
        div {
          i {
            font-weight: bold
          }
        }
      }
    }
  }

  .files-tree {
    height: 100%;
    overflow: overlay;
  }

  .files-text {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
    font-size: 14px;
    height: 100%;
    border-radius: 5px;
    background-color: #0c2337;
    border: none;

    img {
      height: 100%;
      width: 100%;
      background-color: #f9f9f9;
    }
  }
}
